.list_container {
    display: grid;
    gap: 10rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.singleBook {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    padding: 2rem;
    background-color: #393b40;
    border-radius: 6px;
}

.pageTitle {
    margin-bottom: 2rem;
    user-select: none;
}

.bookTitle {
    margin-bottom: 1rem;
    margin-top: 0px;
}

.pageWrapper {
    padding: 3rem 0;
    min-height: 100vh;
}

.borderDiv {
    text-align-last: center;
    border: ridge;
    border-color: #9f9f9fa8;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 4%
}

.orLable {
    font-size: x-large;
    font-family: "Mirza", sans-serif;
    color: #9f9f9f;
    user-select: none;
}

.lableInput {
    background: #313235;
    border: 2px solid transparent;
    max-width: 500px;
    text-align: start;
    color: #717171;
    height: 40px;
    border-radius: 5px;
    padding: 0rem 11.4rem;
    padding-bottom: 8.7rem;
    font-size: 2rem;
    outline: none;
}

.input {
    margin-top: 4%;
    max-width: 500px;
    background: var(--secondary-color);
    border: none;
    width: 160%;
    height: 40px;
    border-radius: 5px;
    padding: 3rem 2rem;
    font-size: 2rem;
    outline: none;
    color: var(--white);
    border: 2px solid transparent;

    &::-webkit-calendar-picker-indicator {
        filter: invert(1); // Change the color of the calendar icon
    }

    &:focus {
        border: 2px solid var(--primary-color);
    }

    &::-webkit-datetime-edit {
        color: #717171;
    }

}

//To see the place holder//
// input[type="date"]:not(.has-value)::before {
//     content: attr(placeholder);
//     color: #717171;
// }

.textArea {
    // resize: none;
    margin-top: 4%;
    max-width: 500px;
    background: var(--secondary-color);
    border: none;
    width: 160%;
    height: 130px;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    outline: none;
    color: var(--white);
    border: 2px solid transparent;

    &:focus {
        border: 2px solid var(--primary-color);
    }
}

.addButton {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #e85d04;
    margin-top: 4%;
    min-width: 10%;
    place-self: center;
    user-select: none;

    &:hover {
        background-color: #9c4109;
        color: #ffffff;
        cursor: pointer;
    }
}

.img {
    align-self: center;
    min-height: 400px;
    min-width: 250px;
    max-height: 420px;
    max-width: 260px;
    user-select: none;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    align-self: center;
}

.largeBeatLoader {
    position: fixed;
    left: 45%;
    top: 40%;
}

@media only screen and (max-width: 768px) {
    .list_container {
        grid-template-columns: 1fr;
    }

    .formWrapper {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    .addButton {
        padding: 1rem 1rem;
        font-size: 1.6rem;
    }
}